.btn {
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: transparent;
  font-size: 1.2em;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #9c33d4;
}

.subTitle {
  font-size: 0.5em;
}
